<div fxLayout="row" fxLayoutAlign="center">
  <button mat-raised-button color="accent" class="mat-button-large" (click)="toggleIsCreated()">Created Events</button>
  <button mat-raised-button color="accent" class="mat-button-large" (click)="toggleIsJoined()">Joined Events</button>
</div>

<div class="basic-container" fxLayout="row wrap" fxLayoutAlign="center start">
    <mat-card *ngFor="let event of viewEvents" class="purple-card">
      <div fxLayout="column" fxLayoutGap="8px">
        <div>
          <p>Title: {{ event.name }}</p>
        </div>
        <div>
          <p>Duration: {{ event.duration }}</p>
        </div>
        <div>
          <p>Date: {{ event.startDateTime | date:'yyyy-MM-dd HH:mm:ss' }}</p>
      </div>
          <div>
            <p>Description: {{ event.description }}</p>
          </div>
        <div>
          <button mat-raised-button color="accent" *ngIf="isCreated" (click)="cancelEvent(event.id)" class="mat-button-large" >Cancel</button>
        </div>
      </div>
    </mat-card>
  </div>

